@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body onload="listGroups()">

    <div class="jumbotron text-center">
        <div class="container">
            <div class="col-sm-4">
                <p>
                    <label for="Group">Groups:</label>

                    <select id="mydropdown">
                        
                    </select>
                </p>

            </div>
            <div class="col-sm-4">
                <p>Add new item <button type="button">+</button></p>
                <p>Add new group <button type="button" onclick="">+</button></p>


            </div>
        </div>
    </div>

    <script>
        var title = ["Group1", "Group2", "Group3"]; // Possible Values

        function listGroups() {
            //var title = new Array("Group1", "Group2", "Group3"); // Possible Values
            //var title = ["Group1", "Group2", "Group3"]; // Possible Values
            var sel = document.getElementById('mydropdown') // find the drop down
            for (var i in title) { // loop through all elements
                var opt = document.createElement("option"); // Create the new element
                opt.value = title[i]; // set the value
                opt.text = title[i]; // set the text
                sel.appendChild(opt); // add it to the select
            }
        }

//function addGroup(){
//var text = "";
//var i;
//var j;

//if(title[0] != "Group1"){
//  	j =1;
//  }
//  else if(title[1] != "Group2"){
//  	j =2;
//  }
//  else if(title[2] != "Group3"){
//  	j =3;
//  }
//  else if(title[3] != "Group4"){
     // 	j =4;
     // }

//title[title.length] ="Group"+j;

//}
    </script>


</body>
</html>