@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Project 3</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body onload="listGroups()">

	<form method="get">
		<label for="user">Username:</label><br>
		<input type="text" id="user" name="user" value="John"><br />
		<input type="submit" value="Submit">
	</form>

	<form name="combowithtext">

		<div class="jumbotron text-center">
			<div class="container">
				<div class="col-sm-4">
					<p>
						<label for="Group">Groups:</label>

						<select id="mydropdown" onChange="showtext()">
						</select>
					</p>

				</div>
				<div class="col-sm-4">
					<p>Add new item <button type="button" id="newItemButton">+</button></p>
					<p>Add new group <button type="button" id="newGroupButton">+</button></p>


				</div>
			</div>
		</div>
		<center>
			<div class="container">
				<textarea rows=8 cols=21 wrap="virtual" name="text00" id="1" onChange="updateText('1')"></textarea>
				<textarea rows=8 cols=21 wrap="virtual" name="text01" id="2"  onChange="updateText('2')"></textarea>
				<textarea rows=8 cols=21 wrap="virtual" name="text02" id="3" onChange="updateText('3')"></textarea>
			</div>
			<div class="container">
				<textarea rows=8 cols=21 wrap="virtual" name="text10" id="4" onChange="updateText('4')"></textarea>
				<textarea rows=8 cols=21 wrap="virtual" name="text11" id="5" onChange="updateText('5')"></textarea>
				<textarea rows=8 cols=21 wrap="virtual" name="text12" id="6" onChange="updateText('6')"></textarea>
			</div>
		</center>
	</form>
	<p id="demo"></p>


</body>
</html>